@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --background: oklch(0.982 0.0092 242.83);
  --foreground: oklch(0.3211 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3211 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3211 0 0);

  --primary: oklch(0.6231 0.188 259.8145);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.967 0.0029 264.5419);
  --secondary-foreground: oklch(0.4461 0.0263 256.8018);

  --muted: oklch(0.9846 0.0017 247.8389);
  --muted-foreground: oklch(0.551 0.0234 264.3637);

  --accent: oklch(0.9514 0.025 236.8242);
  --accent-foreground: oklch(0.3791 0.1378 265.5222);

  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.6231 0.188 259.8145);

  --radius: 0.625rem;
}

.dark {
  --background: oklch(0.2046 0 0);
  --foreground: oklch(0.9219 0 0);

  --card: oklch(0.2686 0 0);
  --card-foreground: oklch(0.9219 0 0);

  --popover: oklch(0.2 0 0);
  --popover-foreground: oklch(0.9219 0 0);

  --primary: oklch(0.6231 0.188 259.8145);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9219 0 0);

  --muted: oklch(0.2393 0 0);
  --muted-foreground: oklch(0.7155 0 0);

  --accent: oklch(0.3791 0.1378 265.5222);
  --accent-foreground: oklch(0.8823 0.0571 254.1284);

  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.3715 0 0);
  --input: oklch(0.3715 0 0);
  --ring: oklch(0.6231 0.188 259.8145);

  --radius: 0.625rem;
}

.dark svg[role="img"] path {
  fill: #f0f0f0;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::selection {
    @apply bg-primary text-primary-foreground;
  }
  .dynamic-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.v1.light {
  --color-background: hsl(165, 50%, 97%);

  --color-foreground: hsl(180, 4%, 5%);

  --color-muted: hsl(180, 5%, 96%);
  --color-muted-foreground: hsl(170, 3%, 40%);

  --color-popover: hsl(0, 0%, 99%);
  --color-popover-foreground: hsl(180, 4%, 5%);

  --color-card: hsl(0, 0%, 99%);
  --color-card-foreground: hsl(180, 4%, 5%);

  --color-primary: hsl(173, 80%, 36%);
  --color-primary-foreground: hsl(210, 40%, 98%);

  --color-secondary: hsl(171, 16%, 92%);
  --color-secondary-foreground: hsl(222.2, 47.4%, 11.2%);

  --color-accent: hsl(171, 16%, 92%);
  --color-accent-foreground: hsl(222.2, 47.4%, 11.2%);

  --color-destructive: hsl(10, 78%, 54%);
  --color-destructive-foreground: hsl(0, 0%, 98%);

  --color-border: hsl(214.3, 31.8%, 91.4%);

  --color-input: hsl(214.3, 31.8%, 86.4%);

  --color-link: hsl(172, 100%, 26%);

  --color-ring: hsl(173, 46%, 72%);
}

.v1.dark {
  --background: hsl(165, 11%, 7%);
  --foreground: hsl(171, 14%, 90%);

  --muted: hsl(175, 18%, 14%);
  --muted-foreground: hsl(173, 8%, 60%);

  --accent: hsl(174, 55%, 11%);
  --accent-foreground: hsl(174, 55%, 98%);

  --popover: hsl(180, 9%, 9%);
  --popover-foreground: hsl(171, 14%, 90%);

  --border: hsl(216, 34%, 17%);
  --input: hsl(216, 34%, 17%);

  --card: hsl(180, 9%, 9%);
  --card-foreground: hsl(171, 14%, 90%);

  --primary: hsl(173, 80%, 36%);
  --primary-foreground: hsl(210, 40%, 98%);

  --secondary: hsl(174, 55%, 11%);
  --secondary-foreground: hsl(163, 69%, 98%);

  --destructive: hsl(10, 78%, 40%);
  --destructive-foreground: hsl(210, 40%, 98%);

  --border: hsl(173, 10%, 17%);

  --input: hsl(175, 10%, 25%);

  --ring: hsl(173, 50%, 45%);

  --link: hsl(170, 90%, 45%);
}
